<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>easytype</title>
    <link rel="stylesheet" href="{% static 'main_static.css' %}">
</head>
<body>
    <section class="paragraph" style="padding: 10%;">
    <textarea  class="paragraph" readonly>
        For decades the recommended style was to break after binary operators. But this can hurt readability in two ways: the operators tend to get scattered across different columns on the screen, and each operator is moved away from its operand and onto the previous line. Here, the eye has to do extra work to tell which items are added and which are subtracted:
    </textarea>
    </section>

</body>
</html>